name: build
on: [ push, pull_request ]
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        java: [ 8, 11, 17 ]
    name: Build with Java ${{ matrix.java }}
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout the Git repository
        uses: actions/checkout@v3
      - name: Setup Java
        uses: actions/setup-java@v3.1.0
        with:
          distribution: temurin
          java-version: ${{ matrix.java }}
      - name: Cache the Maven local repository
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: maven-${{ matrix.java }}-${{ hashFiles('**/pom.xml') }}
          restore-keys: maven-${{ matrix.java }}-
      - name: Build the project
        run: mvn -B clean install
      - name: Get the project version
        run: echo PROJECT_VERSION=$(mvn -B -Dexpression=project.version -DforceStdout -q help:evaluate) >>$GITHUB_ENV
      - name: Build the "examples/simple-java" project
        run: mvn -B -Dorika-spring-boot-starter.version=${{ env.PROJECT_VERSION }} clean install
        working-directory: examples/simple-java
      - name: Build the "examples/simple-kotlin" project
        run: mvn -B -Dorika-spring-boot-starter.version=${{ env.PROJECT_VERSION }} clean install
        working-directory: examples/simple-kotlin
      - name: Upload the coverage report to Codecov
        uses: codecov/codecov-action@v2.1.0
